<!doctype html>
<html lang="en" ng-app="myApp" ng-controller="AppController">
<head>
  <meta charset="utf-8">
  <title>Site - {{ PageService.title() }}</title>
      
    <link data-require="foundation@4.1.6" data-semver="4.1.6" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/4.1.6/css/foundation.min.css" />    
    <link data-require="foundation@4.1.6" data-semver="4.1.6" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/4.1.6/css/normalize.min.css" />      
    <link rel="stylesheet" href="css/app.css"/>
    <script src="lib/jquery-2.0.3.min.js"></script>
</head>
<body>

  <!-- Header and Nav -->
  <div ng-controller="TestController">
    <div enter="shout()"><h1>Test It</h1></div>
 </div>
  <div class="row">
    <div class="large-3 columns">
      <h1><img src="http://placehold.it/400x100&text=Logo"></h1>
    </div>
    <div class="large-9 columns">
        <ul class="button-group right" ng-repeat="item in menuItems">
            <li><a href={{item.route}} class="button">{{item.name}}</a></li>
        </ul>
    </div>
  </div>

<div class="row">
    <div class="large-12 small-6 columns">
        <h1></h1> 
        <div ng-controller="RevealController">
            <reveal></reveal>
        </div>
    </div>
    <!--End Columns-->
</div>
<!--End Row-->

  <!-- End Header and Nav -->   
    
  <div ng-view></div>

  <!-- Footer -->
 
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-6 columns">
            <ul class="inline-list right" ng-repeat="item in menuItems">
                <li><a href={{item.route}}> {{item.name}} </a></li>
            </ul>        
        </div>
      </div>
    </div>
  </footer>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->  
    
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/4.1.6/js/foundation.min.js"></script>    
</body>
</html>
